<div class="container-fluid pt-4 px-4">
    <div class="bg-light text-center rounded p-4">
        <div class="d-flex align-items-center justify-content-between mb-4">
            <h6 class="mb-0">Recent Expenses</h6>
            <a href="">Show All</a>
        </div>
        <div class="table-responsive">
            <table class="table text-start align-middle table-bordered table-hover mb-0">
                <thead>
                    <tr class="text-dark">
                        <th scope="col">Date</th>
                        <th scope="col">Description</th>
                        <th scope="col">Amount</th>
                        <th scope="col">Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>01 Jan 2045</td>
                        <td>Pay for water</td>
                        <td>KES. 300</td>
                        <td>Paid</td>
                    </tr>
                    <tr>
                      <td>01 Jan 2045</td>
                      <td>Buy airtime</td>
                      <td>KES. 1,500</td>
                      <td>Paid</td>
                    </tr>
                    <tr>
                      <td>01 Jan 2045</td>
                      <td>Pay internet</td>
                      <td>KES. 3,000</td>
                      <td>Paid</td>
                    </tr>
                    <tr>
                      <td>01 Jan 2045</td>
                      <td>Buy food</td>
                      <td>KES. 15,000</td>
                      <td>Paid</td>
                    </tr>
                    <tr>
                      <td>01 Jan 2045</td>
                      <td>Pay rent</td>
                      <td>KES. 50,000</td>
                      <td>Paid</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>