@if (expenses().length > 0) {
    <div class="table-responsive d-none d-md-block">
        <table class="table text-start align-middle table-bordered table-hover mb-0">
            <thead>
                <tr class="text-dark">
                    <th scope="col">Date</th>
                    <th scope="col">Description</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Status</th>
                </tr>
            </thead>
            <tbody>
                @for (item of expenses(); track item.id) {
                    <tr>
                        <td>{{item.date}}</td>
                        <td>{{item.description}}</td>
                        <td>{{ item.amount | currency:'KES. ': 'symbol':'1.2-2' }}</td>
                        <td>{{item.status}}</td>
                    </tr>
                }
            </tbody>
        </table>                
    </div>
}
@else {
    <div class="text-center text-secondary">No expenses available yet</div>
}